{% extends "flowershop/base.html" %}
{% load static %}
{% block title %}
    News on page
{% endblock %}
{% block content %}
{%load static%}
<div class="container text-center" id="product_container">
    <div class="row gx-4 gy-4 row-cols-2 row-cols-md-3 row-cols-lg-4">
      {% for product in products %}
        <div class="col">
          <div class="product-card">
            <a href="{% url 'products' product.id %}">
              <img src="{{ product.image.url }}" class="product-image" alt="{{ product.product_name }}">
            </a>
            <p class="product-name">{{ product.product_name }}</p>
            <p class="product-price">{{ product.price }} zł</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}