{% extends "flowershop/base.html" %}
{% load static %}
{% block title %}
    News on page
{% endblock %}
{% block content %}
{%load static%}
    <div class="container text-center">
        <div class="row gx-5 gy-5 row-cols-4">
            {%for product in products%}
            <div class="col">      
                <input type="hidden" name="itemId" value="<?= $idarticle ?>">
                <a href="{%url 'products' product.id %}"><img src="{{product.image.url}}" class="img-fluid img-thumbnail zoomable-image" alt="404"></a>
                <p>{{product.product_name}}<br><strong>22.00 zł</strong></p>
            </div>
            {%endfor%}
        </div>
        
    </div>
{% endblock %}