{% extends "flowershop/base.html" %}
{% load static %}
{% block title %}
    Logowanie
{% endblock %}
{% block content %}
{%load static%}
<link rel="stylesheet" href="{% static 'flowershop/css/login.css' %}">
<div class="login-container">
    <h2>Logowanie</h2>
    <form method="post" class="login-form">
        {% csrf_token %}

        {% if form.errors %}
            <div class="form-errors">
                {{ form.non_field_errors }}
                {{ form.username.errors }}
                {{ form.password.errors }}
            </div>
        {% endif %}

        <label for="{{ form.username.id_for_label }}">Nazwa użytkownika</label>
        {{ form.username }}

        <label for="{{ form.password.id_for_label }}">Hasło</label>
        {{ form.password }}

        <button type="submit">Zaloguj się</button>
    </form>

    <p class="register-link">
        Nie masz konta?
        <a href="{% url 'register' %}">Zarejestruj się</a>
    </p>
</div>
{% endblock %}