.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    color: white;
    position: relative;
    z-index: 4;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 1rem;
  }
  
  .cart-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 1rem;
    margin-right: 1.5rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  }
  
  .item-details h3 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
  }
  
  .item-details p {
    margin: 0.2rem 0;
  }
  .actions {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.actions form button {
    background-color: #ffffff;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.2s;
}

.actions form button:hover {
    background-color: #ffffff;
}
.cart-summary {
    margin-top: 2rem;
    text-align: right;
    font-size: 1.2rem;
}

.order-btn {
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.2s;
}

.order-btn:hover {
    background-color: #9a9a9a;
}
.cart-summary {
  margin-top: 2rem;
  text-align: right;
  font-size: 1.2rem;
}

.order-btn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.2s;
}

.order-btn:hover {
  background-color: #ffffff;
}